#root {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #e6da6a;
  --main-secondary-color: #409BC9;
  --main-accent-color: #FFE72F;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #F1F1F1;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}

#total-row {
  background-color: var(--main-secondary-color);
}

button {
  border: 1px solid transparent;
}

.sidebar-button {
  color: white;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--main-secondary-color);
  border-radius: 12px;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.sidebar-button:hover{
  background-color: #337B9F;
}

tbody > tr > td:last-child {
  border: none !important;
}


.budget-table th {
  background-color: var(--main-accent-color) !important;
  color: black !important;
  font-weight: bold !important;
  border-top: none !important;
  border-bottom: 4px solid white !important;
  border-right: none!important;
  border-left:none!important;
  padding: 4px;
  
}

.budget-table th:first-child {
  border-top-left-radius: 8px; 

}

.budget-table th:last-child {
  border-top-right-radius: 8px; 
}


.budget-row td {
  text-align: center;
  vertical-align: middle;
  padding: 10px; 
  cursor: pointer;
  font-size: medium;
  border: white 1px solid;
}

@media (max-width: 600px) {
  .budget-row td {
    font-size: 12px;
  }
}


/* Align first column (Category) to the left */
.budget-row td:first-child {
  font-size: larger;
  padding-left: 30px;
}

/* Center budget, expenses, and result columns */
.budget-row td:nth-child(2),
.budget-row td:nth-child(3),
.budget-row td:nth-child(4) {
  text-align: center;
}

.expense-row-btn{
  background-color: var(--main-secondary-color);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  padding: 0.4em;
  padding-right: 1em;
  padding-left: 1em;
  


}

.expense-row-btn:hover{
  background-color: #337B9F;
}

.expense-table{
  background-color: inherit !important;
  color: black !important;
  font-weight: bold !important;
  padding: 4px;
}
