.left-section {
  background: #ffffff;  
  color: #0d0d0e;           
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;         
}

.login-btn{
  background: #245771;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button, .register-button {
  background-color: #245771; 
  color: #fff;             
  font-size: 16px;          
  font-weight: bold;       
  padding: 12px;            
  border: none;            
  border-radius: 8px;      
  width: 100%;               
  transition: background-color 0.3s ease; 
}

.login-button:hover, .register-button:hover {
  background-color: rgb(14, 59, 92); 
  color: #fff;
  cursor: pointer;           
}

.error-message {
  background-color: #f8d7da; 
  color: #721c24;             
  border: 2px solid #f5c6cb;  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;        
  text-align: center;
}